html { 
    background: #555;
    color: black;
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    font-weight: lighter;
    -webkit-user-select: none;
}

.backfaceVisibility {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

div.front {
    background: white;
    color:black;
    border-radius: 7px;
    border: 0.5px solid grey;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 290px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.33);
}

div.rear {
    background: #dddddd;
    color:black;
    border-radius: 7px;
    border: 0.5px solid grey;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 290px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.33);
}

div.rear .icon {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    float: left;
    border-right: 0.5px solid grey;
}

div.rear .user {
    font-weight: bold;
    height: 1.25em;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
}

div.rear .caption {
    font-size: 0.75em;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    margin-top: 5px;
    height: 5.2em;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.rear .comments {
    background: #eeeeee;
    border-top: 0.5px solid grey;
    clear:both;
    font-size: 0.65em;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 160px;
    line-height: 1.2em;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

div.rear .comments .comment {
    padding-bottom: 10px;
}

div.rear span.usertag {
    color: blue;
    font-weight: normal;
}

div.rear span.hashtag {
    color: brown;
    font-weight: normal;
}

.right-arrow {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23c7c7cc'/></svg>");
    background-origin: padding-box;
    background-position: calc(-70px + 100%) 50%;
    background-repeat: no-repeat;
    background-size: 10px 20px;
}
